.body {
    background-color: black;
}

.container {
    position: relative;
    width: 100%;
}

img {
    display: block;
    width: 500px;
    height: 500px;
    transition: transform 0.5s ease;
}

.container:hover img {
    transform: scale(1.1);
}